<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Seek Shelter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: url('../../Content/images/header_bg.jpg')" >
        
        
        <div class="container" >
            <div class="navbar-header" >
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="col-md-12 col-sm-9">
                    <img id="logo" src="~/Content/images/seekshelter-1logo-white.png" />
                    

               </div><span>

              </span>
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div style="margin-top:55px; min-height:100%; position:relative" >
        
        <div class="container body-content whole-body">
            @RenderBody()
        </div>
        
        
        <hr />
        
        <footer>
            <p >
                <div class="mar-top-20" style="color:white">
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/company/10877856" title="" class="linkedin"><img src="http://www.seekshelter.org.nz/wp-content/uploads/2016/10/ssnz-linkedin.png" height="35" width="35" /></a>
                    <a href="https://www.facebook.com/SeekShelterNZ/" title="" class="facebook"><img src="http://www.seekshelter.org.nz/wp-content/uploads/2016/10/ssnz-facebook.png" height="35" width="35" /></a>
                    <a href="https://twitter.com/SeekShelterNZ" title="" class="twitter"><img src="http://www.seekshelter.org.nz/wp-content/uploads/2016/10/ssnz-twitter.png" height="35" width="35" /></a>
                    <a href="https://instagram.com/seekshelternz" title="" class="instagram"><img src="http://www.seekshelter.org.nz/wp-content/uploads/2016/10/ssnz-instagram.png" height="35" width="35" /></a>

                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; @DateTime.Now.Year - Seek Shelter
                </div>
            </p>
        </footer>
        
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        
        #logo{
           
          
            vertical-align:middle;
        }

        .navbar .header_bg {
            width:100%;
            
            position:fixed;
            
        }

        .header-bg-image
        {
            background-image: url("~/Content/images/header_bg.jpg");
        }
    </style>
</body>
</html>
