@model Shelterme.Models.RegisterDetailsViewModel

@{
    ViewBag.Title = "Confirmation";
}

    <center><h4><b class="from-confirm-text-header">Thanks. You are now helping to make the world a better place.</b></h4></center>



<div class="row ">
    <div class="col-md-3">

    </div>
    
    
       
    <div class="col-md-5 form_confirm">

        <div class="row ">
            <p class="comfirm-top-text"> You have registered the following accommodation:<br /></p>
            <b class="from-confirm-text col-md-6">Maximum number of beds:</b> <b class="from-confirm-right col-md-6">@Html.DisplayFor(m => m.MaxBedsAvailable)</b>
        </div>
        <div class="row">
            <b class="from-confirm-text col-md-6">Shelter for:</b> <b class="from-confirm-right col-md-6"> @Html.DisplayFor(m => m.AvailablityDisplayString)</b>
        </div>
        <div class="row">
            <b class="from-confirm-text col-md-6">@Html.LabelFor(m => m.ShelterProviderName) :</b> <b class="from-confirm-right col-md-6">
                 @Html.DisplayFor(m => m.ShelterProviderName)
            </b>
            </div>

            <div class="row">
                <b class="from-confirm-text col-md-6"> @Html.LabelFor(m => m.City) :</b> <b class="from-confirm-right col-md-6">@Html.DisplayFor(m => m.City)</b>
            </div>
            
            <div class="row">
                <b class="from-confirm-text col-md-6">@Html.LabelFor(m => m.Suburb)  :</b> <b class="from-confirm-right col-md-6">@Html.DisplayFor(m => m.Suburb)</b>
            </div>
            <div class="row">
                <b class="from-confirm-text col-md-6">  @Html.LabelFor(m => m.Address)  :</b> <b class="from-confirm-right col-md-6"> @Html.DisplayFor(m => m.Address)</b>
            </div>
            <div class="row">
                <b class="from-confirm-text col-md-6"> @Html.LabelFor(m => m.ContactDetails) :</b> <b class="from-confirm-right col-md-6"> @Html.DisplayFor(m => m.ContactDetails)</b>
            </div>
            <br />
            @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "btn btn-default" })


    </div>
    <div class="col-md-4"></div>


</div>
    

