@model Shelterme.Models.RegisterDetailsViewModel

@{
    ViewBag.Title = "Confirmation";
}


<div class="row">
    Thanks. You are now helping to make the world a better place. You have registered the following accommodation:
</div>

<div class="row">
    Maximum number of beds: @Html.DisplayFor(m => m.MaxBedsAvailable)
</div>
<div class="row">
    Shelter for: @Html.DisplayFor(m => m.AvailablityDisplayString)
</div>
<div class="row">
    @Html.LabelFor(m => m.ShelterProviderName) : @Html.DisplayFor(m => m.ShelterProviderName)
</div>

<div class="row">
    @Html.LabelFor(m => m.City) : @Html.DisplayFor(m => m.City)
</div>

<div class="row">
    @Html.LabelFor(m => m.Suburb) : @Html.DisplayFor(m => m.Suburb)
</div>
<div class="row">
    @Html.LabelFor(m => m.Address) : @Html.DisplayFor(m => m.Address)
</div>
<div class="row">
    @Html.LabelFor(m => m.ContactDetails) : @Html.DisplayFor(m => m.ContactDetails)
</div>

@Html.ActionLink("Continue", "Index", "Home", null, new { @class = "btn btn-default" })