@model Shelterme.Models.SearchAndUpdateViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="">
     
 <p style="height:100px;padding-bottom:30px;padding-top:20px;font-size:20px;"> At SeekShelter, we believe nobody should be turned away from shelters at capacity with nowhere to go.</p>
    
</div>

<div class="row">

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @role = "form" }))
{

    <div id="search_form" class="col-md-5">
        <h2 style="color:#6d6e70;font-weight:bold;">SEARCH</h2>
        <h2 style="color:#00b39b;margin-top:-12px;text-align:left;font-weight:bold;padding-bottom:20px;">SHELTERS</h2>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.City)
            </div>
        </div>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Suburb)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.Suburb)
            </div>
        </div>
        <div class="col-md-12" style="padding:20px;">
            <b >Search accommodation for: </b>
        </div>
        <table  class="row">
            <tr class="col-md-4">
                <td>@Html.LabelFor(m => m.SearchMen)</td>

                <td>@Html.EditorFor(m => m.SearchMen)</td>



                <td class="col-md-2">
                    @Html.LabelFor(m => m.SearchWomen)
                </td>


                <td class="col-md-2">
                    @Html.EditorFor(m => m.SearchWomen)
            </td>



            <td class="col-md-2">
                @Html.LabelFor(m => m.SearchChildren)
            </td>

            <td>
                @Html.EditorFor(m => m.SearchChildren)
        </td>
        </tr>
        </table><br />
        
        <div class="col-md-5 row">
            <input id="btn-right" type='Submit' value='Search' class="btn btn-default" />
        </div>
    </div>
    <div class="col-md-2">

    </div>
    
}


@using (Html.BeginForm("UpdateAvailability", "Home", FormMethod.Post, new { @role = "form" }))
{

    <div id="search_form" class="col-md-5">
        <h2 style="color:#6d6e70;font-weight:bold;">UPDATE OUR</h2>
        <h2 style="color:#00b39b;margin-top:-12px;text-align:left;font-weight:bold;padding-bottom:20px;">AVAILABILITY</h2>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.CurrentBedsAvailable)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.CurrentBedsAvailable, new { @style = "width:80px" })
            </div>
        </div>
        <div class="col-md-12" style="padding:20px;font-weight:bold;">
            Accommodation available for:
        </div>
        <table  class="row">
            <tr class="col-md-4">
                <td class="col-md-2">@Html.LabelFor(m => m.AllowMen)</td>


                <td class="col-md-2">
                    @Html.EditorFor(m => m.AllowMen)
                </td>


                <td class="col-md-2">
                    @Html.LabelFor(m => m.AllowWomen)
                </td>

                <td class="col-md-2">   @Html.EditorFor(m => m.AllowWomen)</td>


                <td class="col-md-2">@Html.LabelFor(m => m.AllowChildren)</td>

                <td class="col-md-2"> @Html.EditorFor(m => m.AllowChildren)</td>
</tr>
        </table>
        <br>

        @if (Model.ShowUpdateConfirmation)
        {
            <div class="row" style="text-align:center;">
                Availability updated
            </div>
        }
        else
        {
            <div class="col-md-5 row">
                <input id="btn-right" type='Submit' value='Update' class="btn btn-default" />
            </div>
        }
    </div>

}

        
</div>

<style>
    #search_form{
       
    box-shadow:-2px 0px 5px #444141;
    padding:10px;
    
    }
</style>