@model Shelterme.Models.SearchAndUpdateViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
     
    -- put logo here --

    <p class="lead">Welcome to Seek Shelter!</p>
    
</div>

<div class="row">

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @role = "form" }))
{

    <div class="col-md-6">
        <h2>Search shelters</h2>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.City)
            </div>
        </div>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Suburb)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.Suburb)
            </div>
        </div>
        <div class="row">
            Search accommodation for:
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.SearchMen)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.SearchMen)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.SearchWomen)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.SearchWomen)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.SearchChildren)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.SearchChildren)
            </div>
        </div>
        <div class="row">
            <input type='Submit' value='Search' class="btn btn-default" />
        </div>
    </div>

    
}


@using (Html.BeginForm("UpdateAvailability", "Home", FormMethod.Post, new { @role = "form" }))
{

    <div class="col-md-6">
        <h2>Update our availability</h2>
        <div class="row" style="padding-top:5px; padding-left:5px">
            <div class="col-md-4">
                @Html.LabelFor(m => m.CurrentBedsAvailable)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.CurrentBedsAvailable, new { @style="width:80px" })
            </div>
        </div>
        <div class="row">
            Accommodation available for:
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AllowMen)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.AllowMen)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AllowWomen)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.AllowWomen)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AllowChildren)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.AllowChildren)
            </div>
        </div>

        @if (Model.ShowUpdateConfirmation)
        {
            <div class="row">
                Availability updated
            </div>
        }
        else
        {
            <div class="row">
                <input type='Submit' value='Update' class="btn btn-default" />
            </div>
        }
    </div>

}
        
</div>