@model Shelterme.Models.RegisterDetailsViewModel

@{
    ViewBag.Title = "Register - availablity";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@using (Html.BeginForm("RegisterAvailability", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.MaxBedsAvailable, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MaxBedsAvailable, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        Shelter available for: <br />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllowWomen, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.AllowWomen, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllowMen, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.AllowMen, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllowChildren, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.AllowChildren, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
}
