@model Shelterme.Models.RegisterDetailsViewModel


<h2>@ViewBag.Title.</h2>



<div class="for_content col-md-12">
   
    <div class="center_form">
        <center><h2>RegisterContact</h2></center>
@using (Html.BeginForm("RegisterContact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ShelterProviderName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.ShelterProviderName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Suburb, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
        <div class="form_input col-md-9">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ContactDetails, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.ContactDetails, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-6 col-md-6">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
        </div>
    </div>

<style>
    body{
        
    }
    .center_form{ 
        padding:10px 20px 20px 10px;
       width:400px;
       height:auto;
        margin: 20px auto auto auto;
  
  
  background-color:rgba(50,200,50,0.6);
  border-radius:20px;
    }
    .form-group 
    input{
        text-align:center;
    }
</style>