

    @using Shelterme.Models
    @model LoginViewModel

    
<div class="formlitle">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="row">
    
    <div class="col-sm-3">
            
    </div>
   <div class="col-sm-6">
       <section id="loginForm">

           @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
           {

               @Html.AntiForgeryToken()

               <img class="form_logo " src="~/Content/images/seekshelter-logo_2.png" />
                   <hr />
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   <div class="form-group">

                       <div class="col-md-10">
                           @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "EMAIL ADDRESS" })
                           @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                       </div>
                   </div>
                   <div class="form-group">

                       <div class="col-md-10">
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "PASSWORD" })
                           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="row mar-left-40 grey">
                           <div class="checkbox">
                               @Html.CheckBoxFor(m => m.RememberMe)
                               @Html.LabelFor(m => m.RememberMe)
                           </div>
                       </div>
                   </div>
                   <div class="form-group" style="width:60%">
                       <div class="row mar-left-5">
                           <div class="col-xs-5">
                               <input type="submit" value="LOG IN" class="btn btn-default" />
                           </div>
                           <div class="col-xs-2 grey" style="font-size:20px">
                               or
                           </div>
                           <div class="col-xs-5">
                               @Html.ActionLink("REGISTER", "Register", null, new { @class = "btn btn-default " })
                           </div>

                       </div>

                   </div>

                   @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
           }
       </section>

   </div>

    </div>
    <div class="col-sm-3">

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
   #loginForm{
       
       background-color:white;
       padding:20px;
       border-radius:0px;
   }
    

   
   .form-control
   {
       border-radius:0px;
   }

    body{
            
        background: url(../../Content/images/login_bg.jpg) no-repeat center fixed ;
        background-size:cover;
        
        }

    .form_logo{
        width:200px;
    }
    .navbar{
        visibility:hidden;
    }


</style>